.continuousImprovement,
.improvementGoalsDefineContainer {
  position: absolute;
  top: calc(50% - 92.18px);
  left: calc(50% - 109.22px);
  line-height: 1.63rem;
  display: inline-block;
  width: 13.6rem;
  height: 1.55rem;
}
.improvementGoalsDefineContainer {
  top: calc(50% - 39.51px);
  left: calc(50% - 127.04px);
  font-size: 0.92rem;
  line-height: 1.2rem;
  font-weight: 600;
  font-family: Gilroy;
  width: 15.88rem;
  height: 9.49rem;
}
.frameParent {
  position: absolute;
  top: -35.44rem;
  left: calc(50% - 504px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.29rem;
  font-size: 1.16rem;
  color: #07041b;
  font-family: "Gilroy-Bold.woff";
}
.blueBox {
  position: absolute;
  height: 105.27%;
  top: -4.59%;
  bottom: -0.68%;
  left: 0;
  background-color: #07041b;
  width: 90rem;
}
.domainMasteryUnleashed {
  position: absolute;
  top: calc(50% - 334px);
  left: calc(50% - 310px);
  font-size: 44px;
  letter-spacing: 0.04em;
  line-height: 2.81rem;
  display: inline-block;
  width: 38.69rem;
  height: 2.13rem;
}
.domainExpertise {
  position: absolute;
  top: calc(50% - 281px);
  left: calc(50% - 109px);
  line-height: 2.1rem;
  display: inline-block;
  width: 13.56rem;
  height: 2rem;
  font-family: "Gilroy-Bold.woff";
  font-size: 23px;
}
.frameIcon {
  position: absolute;
  top: 6.75rem;
  left: calc(50% - 102px);
  width: 12.69rem;
  height: 13.23rem;
  overflow: hidden;
}
.domainExpertiseParent {
  position: absolute;
  top: 0;
  left: 25px;
  border-radius: 28px;
  background-color: #fff;
  border: 2px solid #540494;
  box-sizing: border-box;
  width: 24.2rem;
  height: 35.5rem;
  overflow: hidden;
}
.domainExpertiseIs,
.identifySubjectMatter {
  position: absolute;
  top: calc(50% + 52px);
  left: calc(49% - 174px);
  line-height: 2.1rem;
  display: inline-block;
  width: 21.69rem;
  height: 2rem;
  font-family: "Gilroy-Bold.woff";
}
.domainExpertiseIs {
  top: calc(50% + 120px);
  left: calc(49% - 164px);
  /* font-size: 1.19rem; */
  line-height: 1.54rem;
  font-weight: 600;
  width: 20.5rem;
  height: 7.69rem;
  font-family: "Gilroy-Bold.woff";
  font-size: 19px;
}
.frameChild1,
.frameParent2 {
  position: relative;
  width: 27.5rem;
  height: 35.5rem;
  left: 40px;
}
.frameChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 28px;
  overflow: hidden;
}
.ensureThatAll,
.provideComprehensiveTraining {
  position: absolute;
  top: calc(50% + 52px);
  left: calc(50% - 180px);
  line-height: 2.1rem;
  display: inline-block;
  width: 22.5rem;
  height: 2rem;
  font-family: "Gilroy-Bold.woff";
}
.ensureThatAll {
  top: calc(50% + 120px);
  left: calc(50% - 164px);
  /* font-size: 1.19rem; */
  line-height: 1.54rem;
  font-weight: 600;
  font-family: "Gilroy-Bold.woff";
  font-size: 19px;
  width: 20.5rem;
  height: 6.5rem;
}
.aPositiveCompany,
.fosterAStrong,
.training {
  position: absolute;
  top: calc(50% - 281px);
  left: calc(50% - 54px);
  line-height: 2.1rem;
  display: inline-block;
  width: 6.75rem;
  height: 2rem;
  font-family: "Gilroy-Bold.woff";
  font-size: 23px;
}
.aPositiveCompany,
.fosterAStrong {
  top: calc(50% + 52px);
  left: calc(50% - 189px);
  width: 23.56rem;
}
.aPositiveCompany {
  top: calc(50% + 120px);
  left: calc(50% - 164px);
  /* font-size: 1.19rem; */
  line-height: 1.54rem;
  font-weight: 600;
  font-family: "Gilroy-Bold.woff";
  font-size: 19px;
  width: 20.5rem;
  height: 6.06rem;
}
.peopleFirstCulture {
  position: absolute;
  top: calc(50% - 281px);
  left: calc(50% - 132px);
  line-height: 2.1rem;
  display: inline-block;
  width: 16.44rem;
  height: 2rem;
  font-family: "Gilroy-Bold.woff";
}
.frameParent1 {
  position: absolute;
  top: 18.25rem;
  left: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem;
  font-size: 1.4rem;
  color: #07041b;
  width: 100%;
  font-family: "Gilroy-Bold.woff";
}
.bpo8 {
  position: relative;
  background-color: #07041b;
  /* width: 100%;
  height: 60rem; */
  overflow: hidden;
  text-align: center;
  font-size: 2.51rem;
  color: #fff;
  font-family: "duera";
  width: 1518px;
  height: 1024px;
}
