.howDoesIt,
.layer1Icon {
  position: absolute;
  opacity: 0.5;
}
.layer1Icon {
  top: -30.12rem;
  left: 14.69rem;
  width: 29.06rem;
  height: 24.27rem;
  overflow: hidden;
}
.howDoesIt {
  top: -27.62rem;
  left: calc(50% + 24.49px);
  font-size: 1.82rem;
  letter-spacing: 0.04em;
  line-height: 1.82rem;
  display: inline-block;
  width: 17.62rem;
  height: 0.06rem;
  filter: blur(20px);
}
.collaborativeSynergy {
  color: #540494;
}
.collaborativeSynergyWeWork {
  margin: 0;
}
.blankLine {
  margin: 0;
  color: #540494;
}
.collaborativeSynergyWeContainer {
  position: absolute;
  top: calc(50% - 86.28px);
  left: calc(50% - 206.03px);
  line-height: 1.57rem;
  font-weight: 600;
  display: inline-block;
  width: 25.75rem;
  height: 10.83rem;
}
.collaborativeSynergyWeWorkWrapper {
  position: absolute;
  top: calc(50% - 862.52px);
  left: calc(50% + 21.51px);
  border-radius: 11.9px;
  background-color: #fff;
  filter: blur(20px);
  width: 26.22rem;
  height: 10.11rem;
  overflow: hidden;
  opacity: 0.5;
  font-size: 1.12rem;
  color: #07041b;
  /* font-family: Gilroy; */
  font-family: "gilroy-semi-bold";
}
.howCanWe,
.icon {
  position: absolute;
}
.howCanWe {
  top: -63.25rem;
  left: calc(50% - 287px);
  letter-spacing: 0.04em;
  line-height: 2.73rem;
  display: inline-block;
  width: 35.88rem;
  height: 1.94rem;
}
.icon {
  top: 0;
  left: calc(50% - 720px);
  width: 91.5rem;
  height: 58.43rem;
  overflow: hidden;
  opacity: 0.5;
}
.tailoredSolutionsOurContainer {
  position: absolute;
  top: calc(50% - 116px);
  left: calc(50% - 258px);
  line-height: 2.1rem;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  width: 32.19rem;
  height: 14.56rem;
}
.tailoredSolutionsOurCustomWrapper {
  position: absolute;
  top: calc(50% - 1401px);
  left: calc(50% + 36px);
  border-radius: 16px;
  background-color: #fff;
  width: 35.25rem;
  height: 18.13rem;
  overflow: hidden;
  font-size: 1.5rem;
  color: #000;
  /* font-family: Gilroy; */
  font-family: "gilroy-semi-bold";
}
.streamlinedProcessesFor {
  position: absolute;
  top: -29.5rem;
  left: calc(50% - 421px);
  letter-spacing: 0.04em;
  line-height: 2.73rem;
  display: inline-block;
  color: #540494;
  width: 52.56rem;
  height: 1.94rem;
}
.frameChild {
  position: absolute;
  top: 3.29rem;
  left: 0;
  border-radius: 21.69px;
  background-color: #fff;
  border: 1.5px solid #540494;
  box-sizing: border-box;
  width: 18.78rem;
  height: 24.79rem;
  overflow: hidden;
}
.layer1Icon1 {
  position: relative;
  width: 4.45rem;
  height: 3.53rem;
  overflow: hidden;
  flex-shrink: 0;
}
.layer1Wrapper {
  position: absolute;
  top: 0;
  left: 6.1rem;
  border-radius: 55.77px;
  background-color: #fff;
  border: 1.5px solid #540494;
  box-sizing: border-box;
  width: 6.58rem;
  height: 6.58rem;
  display: flex;
  flex-direction: row;
  padding: 0.48rem;
  align-items: center;
  justify-content: center;
}
.documentation,
.effectiveDocumentationRepliContainer {
  position: absolute;
  top: calc(50% - 92.18px);
  left: calc(50% - 80.56px);
  line-height: 1.63rem;
  display: inline-block;
  width: 10.07rem;
  height: 1.55rem;
}
.effectiveDocumentationRepliContainer {
  top: calc(50% - 39.51px);
  left: calc(50% - 127.04px);
  font-size: 0.92rem;
  line-height: 1.2rem;
  font-weight: 600;
  font-family: Gilroy;
  width: 15.88rem;
  height: 13.36rem;
}
.frameGroup {
  position: relative;
  width: 18.78rem;
  height: 28.08rem;
}
.continuousImprovement,
.improvementGoalsDefineContainer {
  position: absolute;
  top: calc(50% - 92.18px);
  left: calc(50% - 109.22px);
  line-height: 1.63rem;
  display: inline-block;
  width: 13.6rem;
  height: 1.55rem;
}
.improvementGoalsDefineContainer {
  top: calc(50% - 39.51px);
  left: calc(50% - 127.04px);
  font-size: 0.92rem;
  line-height: 1.2rem;
  font-weight: 600;
  /* font-family: Gilroy; */
  font-family: "gilroy-semi-bold";
  width: 15.88rem;
  height: 9.49rem;
}
.frameParent {
  position: absolute;
  top: -35.44rem;
  left: calc(50% - 504px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.29rem;
  font-size: 1.16rem;
  color: #07041b;
  /* font-family: Gilroy-Bold; */
  font-family: "gilroy-semi-bold";
}
.blueBox {
  position: absolute;
  height: 105.27%;
  top: -4.59%;
  bottom: -0.68%;
  left: 0;
  background-color: #07041b;
  width: 90rem;
}
.domainMasteryUnleashed {
  position: absolute;
  top: calc(50% - 1084px);
  left: calc(50% - 248px);
  font-size: 2.25rem;
  letter-spacing: 0.04em;
  line-height: 2.25rem;
  display: inline-block;
  width: 31.01rem;
  height: 1.7rem;
}
.frameChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 22.44px;
  background-color: #fff;
  border: 1.6px solid #540494;
  box-sizing: border-box;
  width: 22.04rem;
  height: 32.46rem;
  overflow: hidden;
}
.domainExpertiseIs,
.identifySubjectMatter {
  position: absolute;
  top: calc(50% + 41.68px);
  left: calc(50% - 139.46px);
  line-height: 1.69rem;
  display: inline-block;
  width: 17.38rem;
  height: 1.6rem;
}
.domainExpertiseIs {
  top: calc(50% + 96.18px);
  left: calc(50% - 131.44px);
  font-size: 0.95rem;
  line-height: 1.24rem;
  font-weight: 600;
  /* font-family: Gilroy; */
  font-family: "gilroy-semi-bold";
  width: 16.43rem;
  height: 6.16rem;
}
.frameParent2 {
  position: relative;
  width: 22.04rem;
  height: 32.46rem;
}
.ensureThatAll,
.provideComprehensiveTraining {
  position: absolute;
  top: calc(50% + 41.68px);
  left: calc(50% - 144.26px);
  line-height: 1.69rem;
  display: inline-block;
  width: 18.03rem;
  height: 1.6rem;
}
.ensureThatAll {
  top: calc(50% + 96.18px);
  left: calc(50% - 131.44px);
  font-size: 0.95rem;
  line-height: 1.24rem;
  font-weight: 600;
  /* font-family: Gilroy; */
  font-family: "gilroy-semi-bold";
  width: 16.43rem;
  height: 5.21rem;
}
.aPositiveCompany,
.fosterAStrong {
  position: absolute;
  top: calc(50% + 41.68px);
  left: calc(50% - 151.48px);
  line-height: 1.69rem;
  display: inline-block;
  width: 18.88rem;
  height: 1.6rem;
}
.aPositiveCompany {
  top: calc(50% + 96.18px);
  left: calc(50% - 131.44px);
  font-size: 0.95rem;
  line-height: 1.24rem;
  font-weight: 600;
  font-family: Gilroy;
  width: 16.43rem;
  height: 4.86rem;
}
.frameParent1 {
  position: absolute;
  top: -41.29rem;
  left: calc(50% - 545px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.2rem;
  color: #07041b;
  /* font-family: Gilroy-Bold; */
  font-family: "gilroy-semi-bold";
}
.futureDirectionsAnd,
.optimizeYourSystems {
  position: absolute;
  top: calc(50% - 794px);
  left: calc(50% - 252px);
  font-size: 2.7rem;
  letter-spacing: 0.04em;
  line-height: 2.7rem;
  display: inline-block;
  width: 31.56rem;
  height: 2rem;
}
.futureDirectionsAnd {
  top: calc(66% - 334px);
  left: calc(50% - 332px);
  line-height: 3.32rem;
  width: 41.5rem;
  height: 2.31rem;
  font-size: 43.17px;
}
.aWellEstablishedBpoContainer {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 555px);
  font-size: 1.5rem;
  line-height: 2.1rem;
  font-weight: 600;
  font-family: "gilroy-semi-bold";
  font-size: 24px;
  display: inline-block;
  width: 69.38rem;
  height: 13.69rem;
}
.bpo17 {
  position: relative;
  background-color: #07041b;
  width: 100%;
  height: 64rem;
  overflow: hidden;
  text-align: center;
  font-size: 2.51rem;
  color: #fff;
  font-family: "duera";
  width: 1518px;
  height: 700px;
}
