.optimizeYourSystems {
  position: absolute;
  top: calc(50% - 334px);
  left: calc(50% - 252px);
  font-size: 2.7rem;
  letter-spacing: 0.04em;
  line-height: 2.7rem;
  display: inline-block;
  width: 31.56rem;
  height: 2rem;
  font-size: 43.16px;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 20.34%;
  width: 23.33%;
  top: 41.8%;
  right: 63.65%;
  bottom: 37.86%;
  left: 13.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 2.19%;
  width: 1.19%;
  top: 42.77%;
  right: 85.89%;
  bottom: 55.03%;
  left: 12.92%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8 {
  position: absolute;
  height: 2.13%;
  width: 0.85%;
  top: 42.84%;
  right: 84.77%;
  bottom: 55.03%;
  left: 14.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8 {
  height: 1.67%;
  width: 1.16%;
  top: 43.29%;
  right: 83.38%;
  left: 15.46%;
}
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8 {
  height: 2.21%;
  width: 1.18%;
  right: 81.84%;
  bottom: 54.49%;
  left: 16.98%;
}
.vectorIcon5,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8 {
  height: 2.18%;
  width: 1.24%;
  top: 42.79%;
  right: 79.57%;
  bottom: 55.03%;
  left: 19.19%;
}
.vectorIcon6,
.vectorIcon7,
.vectorIcon8 {
  height: 2.1%;
  width: 0.6%;
  top: 42.84%;
  right: 78.65%;
  bottom: 55.06%;
  left: 20.74%;
}
.vectorIcon7,
.vectorIcon8 {
  height: 20.34%;
  width: 23.33%;
  top: 41.8%;
  right: 37.74%;
  bottom: 37.86%;
  left: 38.93%;
}
.vectorIcon8 {
  height: 2.18%;
  width: 1.19%;
  top: 42.79%;
  right: 59.58%;
  bottom: 55.03%;
  left: 39.23%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon13,
.vectorIcon14,
.vectorIcon9 {
  position: absolute;
  height: 2.13%;
  width: 0.85%;
  top: 42.84%;
  right: 58.46%;
  bottom: 55.03%;
  left: 40.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon13,
.vectorIcon14 {
  height: 1.67%;
  width: 1.16%;
  top: 43.29%;
  right: 57.07%;
  left: 41.77%;
}
.vectorIcon11,
.vectorIcon12,
.vectorIcon13,
.vectorIcon14 {
  height: 2.21%;
  width: 1.19%;
  right: 55.52%;
  bottom: 54.49%;
  left: 43.29%;
}
.vectorIcon12,
.vectorIcon13,
.vectorIcon14 {
  height: 2.18%;
  width: 1.24%;
  top: 42.79%;
  right: 53.26%;
  bottom: 55.03%;
  left: 45.5%;
}
.vectorIcon13,
.vectorIcon14 {
  height: 2.16%;
  width: 1.08%;
  right: 51.83%;
  bottom: 55.05%;
  left: 47.09%;
}
.vectorIcon14 {
  height: 20.34%;
  width: 23.33%;
  top: 41.8%;
  right: 12.47%;
  bottom: 37.86%;
  left: 64.2%;
}
.vectorIcon15,
.vectorIcon16,
.vectorIcon17,
.vectorIcon18,
.vectorIcon19,
.vectorIcon20 {
  position: absolute;
  height: 2.18%;
  width: 1.19%;
  top: 42.79%;
  right: 34.7%;
  bottom: 55.03%;
  left: 64.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon16,
.vectorIcon17,
.vectorIcon18,
.vectorIcon19,
.vectorIcon20 {
  height: 2.13%;
  width: 0.85%;
  top: 42.84%;
  right: 33.58%;
  left: 65.57%;
}
.vectorIcon17,
.vectorIcon18,
.vectorIcon19,
.vectorIcon20 {
  height: 1.67%;
  width: 1.16%;
  top: 43.29%;
  right: 32.18%;
  left: 66.66%;
}
.vectorIcon18,
.vectorIcon19,
.vectorIcon20 {
  height: 2.21%;
  width: 1.18%;
  right: 30.65%;
  bottom: 54.49%;
  left: 68.17%;
}
.vectorIcon19,
.vectorIcon20 {
  height: 2.18%;
  width: 1.24%;
  top: 42.79%;
  right: 28.38%;
  bottom: 55.03%;
  left: 70.38%;
}
.vectorIcon20 {
  height: 2.11%;
  width: 1.07%;
  top: 42.84%;
  right: 26.99%;
  bottom: 55.05%;
  left: 71.94%;
}
.chooseTheRight,
.customizeAndIntegrate,
.thoroughlyTestAnd {
  position: absolute;
  top: calc(50% + 150px);
  left: calc(50% - 532.47px);
  font-size: 1.13rem;
  line-height: 1.54rem;
  font-weight: 600;
  font-family: "gilroy-semi-bold";
  font-size: 17px;
  text-align: left;
  display: inline-block;
  width: 13.88rem;
  height: 7.69rem;
}
.thoroughlyTestAnd {
  margin-left: 22px;
}
.chooseTheRight {
  margin-left: -20px;
}
.customizeAndIntegrate,
.thoroughlyTestAnd {
  left: calc(50% - 159.47px);
}
.thoroughlyTestAnd {
  left: calc(50% + 204.53px);
}
.customisationIntegration,
.systemIdentification,
.testingTraining {
  position: absolute;
  line-height: 2.1rem;
  /* font-family: "gilroy-semi-bold"; */
  /* font-size: 1.3rem; */
  display: inline-block;
}
.systemIdentification {
  top: calc(50% + 3px);
  left: calc(47% - 520.4px);
  width: 17.19rem;
  height: 2rem;
  font-family: "Gilroy-Bold.woff";
}
.customisationIntegration,
.testingTraining {
  top: calc(49% - 6px);
  height: 3.56rem;
  font-family: "Gilroy-Bold.woff";
}
.customisationIntegration {
  left: calc(50% - 159.47px);
  text-align: left;
  width: 16.56rem;
}
.testingTraining {
  left: calc(51% + 201.53px);
  width: 7.38rem;
  font-family: "Gilroy-Bold.woff";
}
.bpo12 {
  position: relative;
  background-color: #07041b;
  width: 100%;
  height: 64rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  font-family: "duera";
  width: 1518px;
  height: 1024px;
}
