.home2Child,
.trailingCursorIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 90rem;
}
.home2Child {
  background-color: #07041b;
  height: 64rem;
}
.trailingCursorIcon {
  height: 59.94rem;
}
.techoptimalogo2Icon {
  position: absolute;
  top: -24.94rem;
  left: 2.5rem;
  width: 5.5rem;
  height: 3.06rem;
  object-fit: cover;
}
.services {
  position: relative;
  line-height: 126.2%;
  font-weight: 500;
}
.servicesParent {
  position: absolute;
  top: -23.31rem;
  left: 36.56rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.5rem;
  text-align: left;
}
.getInTouch {
  position: relative;
  line-height: 126.2%;
  font-weight: 500;
  display: inline-block;
  width: 6.38rem;
  height: 1rem;
  flex-shrink: 0;
}
.getInTouchWrapper {
  position: absolute;
  top: -24.44rem;
  left: 75.06rem;
  border-radius: 8px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 12.56rem;
  height: 3.13rem;
  display: flex;
  flex-direction: row;
  padding: 0.63rem;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.empoweringDigitalTransformat,
.letsConnect {
  position: absolute;
  letter-spacing: 0.04em;
  display: inline-block;
}
.empoweringDigitalTransformat {
  top: -29.06rem;
  left: calc(50% - 316px);
  font-size: 1.94rem;
  line-height: 3.23rem;
  width: 39.5rem;
  height: 5.39rem;
}
.letsConnect {
  top: -20.05rem;
  left: calc(50% - 76px);
  font-size: 0.87rem;
  line-height: 126.2%;
  font-weight: 500;
  text-align: left;
  width: 6.02rem;
  height: 0.75rem;
}
.vectorIcon {
  position: relative;
  width: 0.58rem;
  height: 0.78rem;
}
.vectorWrapper {
  position: absolute;
  top: -20.5rem;
  left: 47.18rem;
  border-radius: 18.14px;
  background-color: #540494;
  height: 1.94rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.58rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.layer1Icon {
  top: -59.56rem;
  left: 8.45rem;
  width: 9.17rem;
  height: 35.46rem;
}
.frameIcon,
.layer1Icon,
.layer1Icon1 {
  position: absolute;
  overflow: hidden;
}
.frameIcon {
  top: -38.8rem;
  left: -16rem;
  width: 47.25rem;
  height: 32.93rem;
}
.layer1Icon1 {
  top: -14.59rem;
  left: calc(50% - 730.3px);
  width: 90.64rem;
  height: 12.93rem;
}
.atTechoptimaOur,
.ourMission {
  position: absolute;
  display: inline-block;
}
.ourMission {
  top: -59.56rem;
  left: calc(50% - 0px);
  font-size: 1.61rem;
  letter-spacing: 0.04em;
  line-height: 1.61rem;
  width: 9.83rem;
  height: 1.38rem;
}
.atTechoptimaOur {
  top: 3.3rem;
  left: calc(50% - 258.98px);
  line-height: 1.76rem;
  font-weight: 600;
  width: 32.37rem;
  height: 16.03rem;
}
.atTechoptimaOurMissionIsWrapper {
  position: absolute;
  top: -51.85rem;
  left: 45.31rem;
  border-radius: 13.41px;
  background-color: #fff;
  width: 36.67rem;
  height: 22.26rem;
  overflow: hidden;
  font-size: 1.26rem;
  color: #07041b;
  font-family: Gilroy;
}
.ourVision {
  position: absolute;
  top: -17.87rem;
  left: calc(50% - 64.6px);
  font-size: 1.36rem;
  letter-spacing: 0.04em;
  line-height: 1.36rem;
  display: inline-block;
  width: 7.15rem;
  height: 1.17rem;
}
.home2Inner,
.home2Item {
  position: absolute;
  top: -16.83rem;
  left: 23.56rem;
  width: 3.84rem;
  height: 3.61rem;
}
.home2Inner {
  left: 65.75rem;
}
.groupIcon,
.home2Child1 {
  position: absolute;
  height: 49.2%;
  width: 74.76%;
  top: -71.39%;
  right: -15.83%;
  bottom: 122.19%;
  left: 41.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home2Child1 {
  height: 48.4%;
  width: 74.61%;
  top: -69.86%;
  right: 40.53%;
  bottom: 121.46%;
  left: -15.14%;
}
.ourValues {
  position: absolute;
  top: -25.27rem;
  left: calc(50% - 79.26px);
  font-size: 2.01rem;
  letter-spacing: 0.04em;
  line-height: 2.01rem;
  display: inline-block;
  width: 11.77rem;
  height: 1.73rem;
}
.trustCollaborationAnd {
  color: #46047c;
}
.span {
  color: #540494;
}
.atTechoptimaWeContainer {
  position: absolute;
  top: calc(50% - 191.29px);
  left: calc(50% - 253.68px);
  line-height: 1.73rem;
  font-weight: 600;
  display: inline-block;
  width: 31.71rem;
  height: 23.91rem;
}
.atTechoptimaWeHoldDeepReWrapper {
  position: absolute;
  top: -37.29rem;
  left: 27.99rem;
  border-radius: 13.14px;
  background-color: #fff;
  width: 35.92rem;
  height: 27.81rem;
  overflow: hidden;
  font-size: 1.23rem;
  color: #07041b;
  font-family: Gilroy;
}
.chessboardIcon {
  position: absolute;
  top: -26.09rem;
  left: calc(50% - 795px);
  width: 96.83rem;
  height: 14.54rem;
  overflow: hidden;
}
.ourStrategy {
  position: absolute;
  top: -50.87rem;
  left: calc(50% - 97.22px);
  font-size: 2.11rem;
  letter-spacing: 0.04em;
  line-height: 2.11rem;
  display: inline-block;
  width: 14.64rem;
  height: 1.82rem;
}
.home2Child2,
.home2Child3 {
  position: absolute;
  height: 29.47%;
  width: 12.89%;
  top: -45.53%;
  right: 67%;
  bottom: 116.06%;
  left: 20.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home2Child3 {
  height: 18.21%;
  width: 9.45%;
  top: -31.07%;
  right: 60.85%;
  bottom: 112.86%;
  left: 29.7%;
}
.ourStrategyAtContainer {
  position: absolute;
  top: calc(50% - 130.8px);
  left: calc(50% - 266.78px);
  line-height: 1.82rem;
  font-weight: 600;
  display: inline-block;
  width: 33.35rem;
  height: 16.3rem;
}
.ourStrategyAtTechoptimaRevWrapper {
  position: absolute;
  top: -43.89rem;
  left: 40.87rem;
  border-radius: 13.81px;
  background-color: #fff;
  width: 37.77rem;
  height: 22.93rem;
  overflow: hidden;
  font-size: 1.3rem;
  color: #07041b;
  font-family: Gilroy;
}
.ourServices {
  position: absolute;
  top: 15.13rem;
  left: calc(50% - 130px);
  font-size: 39px;
  letter-spacing: 0.04em;
  line-height: 2.45rem;
  display: inline-block;
  width: 16.31rem;
  height: 2.06rem;
}
.frameChild,
.frameWrapper {
  position: absolute;
  /* left: 15px; */
  /* left: 0; */
  /* left: calc(50% - 130px); */
  border-radius: 28px;
  width: 19.75rem;
  height: 32rem;
  overflow: hidden;
  opacity: 0.8;
  width: 320px;
  /* height: 460px; */
}
.frameChild {
  top: 0;
  background: linear-gradient(
    180deg,
    #540494 4.17%,
    rgba(112, 58, 155, 0.51) 93.23%,
    rgba(40, 2, 70, 0)
  );
  filter: blur(10px);
  /* height: 120px; */
}
.frameWrapper {
  top: 4rem;
  border: 2px solid #fff;
  box-sizing: border-box;
  height: 450px;
}
.staffAugmentation {
  position: absolute;
  top: calc(50% - 119px);
  left: calc(50% - 107px);
  line-height: 2.1rem;
  display: inline-block;
  width: 13.69rem;
  height: 2rem;
  font-family: "Gilroy-Bold.woff";
  font-size: 1.3rem;
}
.highlyQualifiedProfessionals {
  margin: 0;
  font-size: 18px;
  font-family: "Gilroy-Medium.woff";
}
.highlyQualifiedProfessionalsContainer {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(49% - 120px);
  line-height: 1.54rem;
  font-weight: 500;
  display: inline-block;
  width: 15.13rem;
  height: 18.56rem;
  font-family: "Gilroy-Medium.woff";
  font-size: 18px;
}
.layer1Icon2 {
  position: relative;
  width: 3.31rem;
  height: 4.94rem;
  overflow: hidden;
  flex-shrink: 0;
}
.layer1Wrapper {
  position: absolute;
  top: 0;
  left: 5.7rem;
  border-radius: 72px;
  background-color: #07041b;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1.5px solid #fff;
  box-sizing: border-box;
  width: 8.5rem;
  height: 8.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.63rem;
  align-items: center;
  justify-content: center;
}
.frameGroup,
.layer1Icon3 {
  position: relative;
  width: 19.75rem;
  height: 33.25rem;
}
.layer1Icon3 {
  width: 5.75rem;
  height: 4.56rem;
  overflow: hidden;
  flex-shrink: 0;
}
.layer1Container {
  position: absolute;
  top: 0;
  /* left: 5rem; */
  left: 5.7rem;
  border-radius: 72px;
  background-color: #07041b;
  border: 1.5px solid #fff;
  box-sizing: border-box;
  width: 8.5rem;
  height: 8.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.63rem;
  align-items: center;
  justify-content: center;
}
.endToEndProjectExecutionContainer,
.managedServices {
  position: absolute;
  top: calc(50% - 119px);
  left: calc(50% - 104px);
  line-height: 2.1rem;
  display: inline-block;
  width: 13rem;
  height: 2rem;
  font-family: "Gilroy-Bold.woff";
  font-size: 1.3rem;
}
.endToEndProjectExecutionContainer {
  top: calc(50% - 55px);
  left: calc(50% - 120px);
  font-size: 1rem;
  line-height: 1.54rem;
  font-weight: 500;
  width: 15.13rem;
  height: 18.63rem;
}
.layer1Icon4 {
  position: relative;
  width: 5.25rem;
  height: 4.81rem;
  overflow: hidden;
  flex-shrink: 0;
}
.lowCostProductsLeveragingContainer,
.pointSolutions {
  position: absolute;
  top: calc(50% - 119px);
  left: calc(50% - 95px);
  line-height: 2.1rem;
  display: inline-block;
  width: 11.88rem;
  height: 1.75rem;
  font-family: "Gilroy-Bold.woff";
  font-size: 1.3rem;
}
.lowCostProductsLeveragingContainer {
  top: calc(50% - 59px);
  left: calc(50% - 120px);
  font-size: 1rem;
  line-height: 1.54rem;
  font-weight: 500;
  width: 15.13rem;
  height: 16.5rem;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  height: 79.2%;
  width: 17.64%;
  top: 20.8%;
  right: 0;
  bottom: 0;
  left: 82.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  right: 17.64%;
  left: 64.72%;
}
.vectorIcon3,
.vectorIcon4 {
  height: 1.42%;
  width: 14.35%;
  top: 23.98%;
  right: 10.47%;
  bottom: 74.6%;
  left: 75.17%;
}
.vectorIcon4 {
  height: 9.41%;
  width: 7.79%;
  top: 88.37%;
  right: 13.75%;
  bottom: 2.22%;
  left: 78.46%;
}
.vectorIcon5,
.vectorIcon6,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  position: absolute;
  height: 56.13%;
  width: 16.1%;
  top: 29.39%;
  right: 17.48%;
  bottom: 14.48%;
  left: 66.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon6,
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  width: 15.76%;
  right: 1.72%;
  left: 82.52%;
}
.vectorIcon7,
.vectorIcon8,
.vectorIcon9 {
  height: 99.91%;
  width: 31.34%;
  top: 0;
  right: 68.66%;
  bottom: 0.09%;
  left: 0;
}
.vectorIcon8,
.vectorIcon9 {
  right: 37.24%;
  left: 31.42%;
}
.vectorIcon9 {
  height: 8.48%;
  width: 7.02%;
  top: 89.83%;
  right: 65.06%;
  bottom: 1.68%;
  left: 27.91%;
}
.vectorIcon10,
.vectorIcon11,
.vectorIcon12,
.vectorIcon13,
.vectorIcon14 {
  position: absolute;
  height: 2.91%;
  width: 2.41%;
  top: 2.59%;
  right: 51.2%;
  bottom: 94.5%;
  left: 46.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon11,
.vectorIcon12,
.vectorIcon13,
.vectorIcon14 {
  height: 78.86%;
  width: 28.47%;
  top: 8.27%;
  right: 68.75%;
  bottom: 12.87%;
  left: 2.78%;
}
.vectorIcon12,
.vectorIcon13,
.vectorIcon14 {
  width: 28.75%;
  right: 40%;
  left: 31.24%;
}
.vectorIcon13,
.vectorIcon14 {
  height: 89.13%;
  width: 100%;
  top: 10.88%;
  right: 0;
  bottom: -0.01%;
  left: 0;
}
.vectorIcon14 {
  height: 78.25%;
  width: 96.27%;
  top: 16.32%;
  right: 1.86%;
  bottom: 5.43%;
  left: 1.87%;
}
.uiUx {
  position: absolute;
  height: 81.57%;
  width: 52.24%;
  top: 0;
  left: 24.25%;
  line-height: 1.36rem;
  font-weight: 600;
  display: inline-block;
  font-family: "Gilroy-Bold.woff";
}
.vectorParent {
  position: absolute;
  height: 32.64%;
  width: 78.74%;
  top: 37.27%;
  right: 15.38%;
  bottom: 30.09%;
  left: 5.88%;
}
.layer1 {
  position: relative;
  width: 4.75rem;
  height: 3.94rem;
  overflow: hidden;
  flex-shrink: 0;
}
.layer1Wrapper1 {
  position: absolute;
  top: 0;
  left: 5.7rem;
  border-radius: 72px;
  background-color: #07041b;
  border: 1.5px solid #fff;
  box-sizing: border-box;
  width: 8.5rem;
  height: 8.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.63rem;
  align-items: center;
  justify-content: center;
  color: #000;
}
.uiuxServices,
.userCentricDesignApproachContainer {
  position: absolute;
  top: calc(47% - 129px);
  left: calc(50% - 84px);
  font-size: 1.5rem;
  line-height: 2.1rem;
  display: inline-block;
  width: 10.56rem;
  height: 2rem;
  font-family: "Mulish", sans-serif;
  font-size: 1.3rem;
}
.userCentricDesignApproachContainer {
  top: calc(46% - 55px);
  left: calc(53% - 120px);
  font-size: 1rem;
  line-height: 1.54rem;
  font-weight: 500;
  width: 15.13rem;
  height: 17rem;
}
.frameParent2 {
  position: relative;
  width: 19.75rem;
  height: 36.25rem;
  font-size: 0.72rem;
}
.frameParent {
  position: absolute;
  top: 21.94rem;
  left: 4.9rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.88rem;
  font-size: 1.5rem;
  font-family: "Gilroy-Bold.woff";
}
.home2 {
  position: relative;
  background-color: #07041b;
  /* width: 100%; */
  /* height: 70rem; */
  overflow: hidden;
  text-align: center;
  font-size: 54px;
  color: #fff;
  font-family: "duera";
  width: 1518px;
  height: 1000px;
  /* width: 1440px;
  height: 1024px; */
  /* width: 1440px;
  height: 1021px; */
}

.home2Child,
.trailingCursorIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 90rem;
}

.home2Child {
  background-color: #07041b;
  height: 64rem;
}

.frameGroup:hover {
  transform: scale(1.1); /* Increase size on hover */
  transition: transform 0.3s ease; /* Add a smooth transition */
}
.frameParent2:hover {
  transform: scale(1.1); /* Increase size on hover */
  transition: transform 0.3s ease; /* Add a smooth transition */
}
