.vectorIcon21 {
  position: absolute;
  height: 6.64%;
  top: 29.83%;
  bottom: 63.53%;
  left: calc(50% - 95.61px);
  max-height: 100%;
  width: 176.99px;
  opacity: 0.4;
}
.layer15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.group5 {
  position: absolute;
  height: 111.74%;
  width: 100%;
  top: -11.74%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.frameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20.12px;
  background: linear-gradient(
    180deg,
    #540494 4.17%,
    rgba(112, 58, 155, 0.51) 93.23%,
    rgba(40, 2, 70, 0)
  );
  filter: blur(7.19px);
  width: 227.08px;
  height: 367.93px;
  overflow: hidden;
  opacity: 0.7;
}
.frameWrapper {
  position: absolute;
  top: 48.87px;
  left: 0px;
  border-radius: 20.12px;
  border: 1.4px solid #fff;
  box-sizing: border-box;
  width: 227.08px;
  height: 367.93px;
  overflow: hidden;
  opacity: 0.7;
}
.staffAugmentation {
  position: absolute;
  top: calc(50% - 85.51px);
  left: calc(50% - 76.89px);
  line-height: 24.19px;
  display: inline-block;
  width: 157.38px;
  height: 23px;
}
.blankLine {
  margin: 0;
}
.highlyQualifiedProfessionalsContainer {
  position: absolute;
  top: calc(50% - 22.28px);
  left: calc(50% - 86.23px);
  font-size: 12.94px;
  line-height: 17.75px;
  display: inline-block;
  width: 173.9px;
  height: 194.74px;
}
.layer1Icon2 {
  position: relative;
  width: 38.09px;
  height: 56.77px;
  overflow: hidden;
  flex-shrink: 0;
}
.layer1Wrapper {
  position: absolute;
  top: 0px;
  left: 57.49px;
  border-radius: 51.74px;
  background-color: #07041b;
  box-shadow: 0px 2.874446153640747px 2.87px rgba(0, 0, 0, 0.25);
  border: 1.1px solid #fff;
  box-sizing: border-box;
  width: 97.73px;
  height: 97.73px;
  display: flex;
  flex-direction: row;
  padding: 7.186115264892578px;
  align-items: center;
  justify-content: center;
}
.frameGroup {
  position: relative;
  width: 227.08px;
  height: 416.79px;
}
.layer1Icon3 {
  position: relative;
  width: 66.11px;
  height: 52.46px;
  overflow: hidden;
  flex-shrink: 0;
}
.layer1Frame {
  position: absolute;
  top: 0px;
  left: 57.49px;
  border-radius: 51.74px;
  background-color: #07041b;
  border: 1.1px solid #fff;
  box-sizing: border-box;
  width: 97.73px;
  height: 97.73px;
  display: flex;
  flex-direction: row;
  padding: 7.186115264892578px;
  align-items: center;
  justify-content: center;
}
.managedServices {
  position: absolute;
  top: calc(50% - 85.51px);
  left: calc(50% - 74.73px);
  line-height: 24.19px;
  display: inline-block;
  width: 149.47px;
  height: 23px;
}
.endToEndProjectExecutionContainer {
  position: absolute;
  top: calc(50% - 22.28px);
  left: calc(50% - 86.23px);
  font-size: 12.94px;
  line-height: 17.75px;
  display: inline-block;
  width: 173.9px;
  height: 157.38px;
}
.layer1Icon4 {
  position: relative;
  width: 60.36px;
  height: 55.33px;
  overflow: hidden;
  flex-shrink: 0;
}
.pointSolutions {
  position: absolute;
  top: calc(50% - 85.51px);
  left: calc(50% - 68.27px);
  line-height: 24.19px;
  display: inline-block;
  width: 136.54px;
  height: 20.12px;
}
.lowCostProductsLeveragingContainer {
  position: absolute;
  top: calc(50% - 25.15px);
  left: calc(50% - 86.23px);
  font-size: 12.94px;
  line-height: 17.75px;
  display: inline-block;
  width: 173.9px;
  height: 189.71px;
}
.vectorIcon22 {
  position: absolute;
  height: 79.2%;
  width: 17.64%;
  top: 20.8%;
  right: 0%;
  bottom: 0%;
  left: 82.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon23 {
  position: absolute;
  height: 79.2%;
  width: 17.64%;
  top: 20.8%;
  right: 17.65%;
  bottom: 0%;
  left: 64.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon24 {
  position: absolute;
  height: 1.42%;
  width: 14.35%;
  top: 23.98%;
  right: 10.48%;
  bottom: 74.6%;
  left: 75.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon25 {
  position: absolute;
  height: 9.41%;
  width: 7.79%;
  top: 88.37%;
  right: 13.75%;
  bottom: 2.22%;
  left: 78.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon26 {
  position: absolute;
  height: 56.12%;
  width: 16.1%;
  top: 29.39%;
  right: 17.48%;
  bottom: 14.48%;
  left: 66.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon27 {
  position: absolute;
  height: 56.12%;
  width: 15.76%;
  top: 29.39%;
  right: 1.72%;
  bottom: 14.48%;
  left: 82.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon28 {
  position: absolute;
  height: 99.91%;
  width: 31.34%;
  top: 0%;
  right: 68.67%;
  bottom: 0.09%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon29 {
  position: absolute;
  height: 99.91%;
  width: 31.34%;
  top: 0%;
  right: 37.24%;
  bottom: 0.09%;
  left: 31.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon30 {
  position: absolute;
  height: 8.48%;
  width: 7.02%;
  top: 89.83%;
  right: 65.07%;
  bottom: 1.69%;
  left: 27.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon31 {
  position: absolute;
  height: 2.91%;
  width: 2.41%;
  top: 2.59%;
  right: 51.2%;
  bottom: 94.5%;
  left: 46.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon32 {
  position: absolute;
  height: 78.86%;
  width: 28.47%;
  top: 8.27%;
  right: 68.76%;
  bottom: 12.87%;
  left: 2.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon33 {
  position: absolute;
  height: 78.86%;
  width: 28.75%;
  top: 8.27%;
  right: 40%;
  bottom: 12.87%;
  left: 31.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon34 {
  position: absolute;
  height: 89.12%;
  width: 100%;
  top: 10.88%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon35 {
  position: absolute;
  height: 78.25%;
  width: 96.27%;
  top: 16.31%;
  right: 1.86%;
  bottom: 5.44%;
  left: 1.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.uiUx {
  position: absolute;
  height: 81.57%;
  width: 52.24%;
  top: 0%;
  left: 24.25%;
  line-height: 15.62px;
  font-weight: 600;
  display: inline-block;
}
.vectorParent {
  position: absolute;
  height: 32.64%;
  width: 78.74%;
  top: 37.27%;
  right: 15.38%;
  bottom: 30.09%;
  left: 5.88%;
}
.layer16 {
  position: relative;
  width: 54.61px;
  height: 45.27px;
  overflow: hidden;
  flex-shrink: 0;
}
.layer1Wrapper2 {
  position: absolute;
  top: 0px;
  left: 57.49px;
  border-radius: 51.74px;
  background-color: #07041b;
  border: 1.1px solid #fff;
  box-sizing: border-box;
  width: 97.73px;
  height: 97.73px;
  display: flex;
  flex-direction: row;
  padding: 7.186115264892578px;
  align-items: center;
  justify-content: center;
  color: #000;
}
.uiuxServices {
  position: absolute;
  top: calc(50% - 85.51px);
  left: calc(50% - 60.36px);
  font-size: 17.25px;
  line-height: 24.19px;
  display: inline-block;
  width: 121.45px;
  height: 23px;
}
.userCentricDesignApproachContainer {
  position: absolute;
  top: calc(50% - 22.28px);
  left: calc(50% - 86.23px);
  font-size: 12.94px;
  line-height: 17.75px;
  display: inline-block;
  width: 173.9px;
  height: 178.22px;
}
.frameParent2 {
  position: relative;
  width: 227.08px;
  height: 416.79px;
  font-size: 8.26px;
}
.frameParent {
  position: absolute;
  top: 406.2px;
  left: 1489px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21.56px;
  font-size: 17.25px;
  color: #fff;
}
.frame6 {
  position: absolute;
  top: -2838px;
  left: calc(50% - 1981px);
  width: 3962px;
  height: 2343px;
  overflow: hidden;
  font-size: 15.5px;
  color: #07041b;
  font-family: "Gilroy-Regular.woff";
}
.ourVision {
  position: absolute;
  top: -286px;
  left: calc(50% - 64.6px);
  font-size: 21.74px;
  letter-spacing: 0.04em;
  line-height: 21.74px;
  display: inline-block;
  width: 114.37px;
  height: 18.7px;
}
.home5Item {
  position: absolute;
  top: -269.21px;
  left: 377px;
  width: 61.36px;
  height: 57.81px;
}
.home5Inner {
  position: absolute;
  top: -269.21px;
  left: 1052px;
  width: 61.36px;
  height: 57.81px;
}
.home5Child1 {
  position: absolute;
  top: -121.3px;
  left: 1052px;
  width: 61.36px;
  height: 57.81px;
}
.home5Child2 {
  position: absolute;
  top: -121.3px;
  left: 378.29px;
  width: 61.36px;
  height: 57.81px;
}
.home5Child3 {
  position: absolute;
  height: 49.2%;
  width: 74.76%;
  top: -71.39%;
  right: -15.83%;
  bottom: 122.19%;
  left: 41.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home5Child4 {
  position: absolute;
  height: 48.4%;
  width: 74.61%;
  top: -69.86%;
  right: 40.53%;
  bottom: 121.46%;
  left: -15.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ourValues {
  position: absolute;
  top: -404.25px;
  left: calc(50% - 79.26px);
  font-size: 32.13px;
  letter-spacing: 0.04em;
  line-height: 32.13px;
  display: inline-block;
  width: 188.3px;
  height: 27.63px;
}
.trustCollaborationAnd {
  color: #46047c;
}
.span {
  color: #540494;
}
.atTechoptimaWeContainer {
  position: absolute;
  top: calc(50% - 191.29px);
  left: calc(50% - 253.68px);
  line-height: 27.63px;
  font-weight: 600;
  display: inline-block;
  width: 507.36px;
  height: 382.58px;
}
.atTechoptimaWeHoldDeepReWrapper {
  position: absolute;
  top: -596.7px;
  left: 447.81px;
  border-radius: 13.14px;
  background-color: #fff;
  width: 574.68px;
  height: 444.97px;
  overflow: hidden;
  font-size: 19.7px;
  color: #07041b;
  font-family: "Gilroy-Regular.woff";
}
.rectangleDiv {
  position: absolute;
  top: -420px;
  left: 0px;
  background-color: #07041b;
  filter: blur(4px);
  width: 1440px;
  height: 163px;
}
.chessboardIcon {
  position: absolute;
  top: -417.41px;
  left: calc(50% - 795px);
  width: 1549.21px;
  height: 232.68px;
  overflow: hidden;
}
.ourStrategy {
  position: absolute;
  top: -814px;
  left: calc(50% - 97.22px);
  font-size: 33.79px;
  letter-spacing: 0.04em;
  line-height: 33.79px;
  display: inline-block;
  width: 234.17px;
  height: 29.06px;
}
.home5Child5 {
  position: absolute;
  height: 29.47%;
  width: 12.89%;
  top: -45.53%;
  right: 67%;
  bottom: 116.06%;
  left: 20.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home5Child6 {
  position: absolute;
  height: 18.21%;
  width: 9.45%;
  top: -31.07%;
  right: 60.85%;
  bottom: 112.86%;
  left: 29.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ourStrategyAtContainer {
  position: absolute;
  top: calc(50% - 130.8px);
  left: calc(50% - 266.78px);
  line-height: 29.06px;
  font-weight: 600;
  display: inline-block;
  width: 533.56px;
  height: 260.73px;
}
.ourStrategyAtTechoptimaRevWrapper {
  position: absolute;
  top: -702.27px;
  left: 653.86px;
  border-radius: 13.81px;
  background-color: #fff;
  width: 604.35px;
  height: 366.93px;
  overflow: hidden;
  font-size: 20.72px;
  color: #07041b;
  /* font-family: Gilroy; */
  font-family: "Gilroy-Regular.woff";
}
.home5Child7 {
  position: absolute;
  top: -570px;
  left: 0px;
  background-color: #07041b;
  filter: blur(4px);
  width: 1440px;
  height: 180px;
  opacity: 0.7;
}
.ourServices {
  position: absolute;
  top: -366px;
  left: calc(50% - 99px);
  font-size: 28.13px;
  letter-spacing: 0.04em;
  line-height: 28.13px;
  display: inline-block;
  width: 187.56px;
  height: 23.71px;
}
.frameIcon1 {
  position: absolute;
  top: calc(50% - 512px);
  left: calc(50% - 720px);
  width: 1445px;
  height: 1024px;
  overflow: hidden;
  opacity: 10;
}
.ourTechnologyOfferings {
  position: absolute;
  top: calc(50% - 334px);
  left: calc(50% - 318px);
  font-size: 47px;
  letter-spacing: 0.04em;
  line-height: 47.46px;
  display: inline-block;
  color: #540494;
  width: 636px;
  height: 36px;
}
.enterprises {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 51px);
  line-height: 22.49px;
  display: inline-block;
  width: 103px;
  height: 22px;
  font-family: "Gilroy-Bold.woff";
}
.javaNetOracleContainer {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 113px);
  font-size: 17px;
  line-height: 24.7px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 226px;
  height: 122px;
}
.frameChild2 {
  position: absolute;
  top: 77.5px;
  left: calc(40% - 114.5px);
  width: 229.5px;
  /* height: 1px; */
  /* position: relative; */
  width: 100%;
  height: 2px;
}
.enterprisesParent {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 18.71px;
  background-color: #07041b;
  width: 282px;
  height: 282px;
  overflow: hidden;
  /* font-family: "Gilroy-Regular.woff"; */
  font-family: "Gilroy-Medium.woff";
  font-size: 17px;
}
.frameWrapper4 {
  position: relative;
  border-radius: 18.71px;
  border: 1.3px solid #fff;
  box-sizing: border-box;
  width: 282px;
  height: 282px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 20px;
  font-family: "Gilroy-Regular.woff";
}
.aiml {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 28px);
  line-height: 22.49px;
  display: inline-block;
  width: 57px;
  height: 18px;
  font-family: "Gilroy-Bold.woff";
}
.pythonRBigContainer {
  position: absolute;
  top: calc(50% - 39px);
  left: calc(50% - 67px);
  line-height: 24.7px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 135px;
  height: 94px;
  font-size: 18px;
}
.frameParent4 {
  position: relative;
  border-radius: 18.71px;
  border: 1.3px solid #fff;
  box-sizing: border-box;
  width: 282px;
  height: 282px;
  overflow: hidden;
  flex-shrink: 0;
}
.integration {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 47px);
  line-height: 22.49px;
  display: inline-block;
  width: 94px;
  height: 20px;
  font-family: "Gilroy-Bold.woff";
}
.webServicesMqContainer {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 90px);
  line-height: 24.7px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 188px;
  height: 94px;
  font-size: 18px;
}
.frameParent3 {
  position: absolute;
  top: 303px;
  left: calc(50% - 575px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 152px;
  color: #eacfff;
  font-family: "Gilroy-Regular.woff";
}
.devopsServices {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 74px);
  line-height: 22.49px;
  display: inline-block;
  width: 147px;
  height: 21px;
  font-family: "Gilroy-Bold.woff";
}
.jenkinsJiraMavenant {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 90px);
  line-height: 24.7px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 180px;
  height: 120px;
  font-size: 18px;
}
.dataAnalytics {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 63px);
  line-height: 22.49px;
  display: inline-block;
  width: 127px;
  height: 23px;
  font-family: "Gilroy-Bold.woff";
}
.jaspersoftPowerBiContainer {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% - 89px);
  line-height: 24.7px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 180px;
  height: 94px;
  font-size: 18px;
}
.testingServices {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 67px);
  line-height: 22.49px;
  display: inline-block;
  width: 134px;
  height: 23px;
  font-family: "Gilroy-Bold.woff";
}
.seleniumJunitNunit1 {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% - 101px);
  line-height: 24.7px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 202px;
  height: 118px;
  font-size: 18px;
}
.frameParent6 {
  position: absolute;
  top: 632px;
  left: calc(50% - 575px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 152px;
  color: #eacfff;
  font-family: "Gilroy-Regular.woff";
}
/* .home5 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: "duera";
} */

/* Base styles for all devices */
.home5 {
  position: relative;
  background-color: #fff;
  /* width: 100%;
  height: 1024px; */
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: "duera";
  width: 1518px;
  /* width: 1530px; */
  height: 1024px;
}

.enterprisesParent:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
